<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Betalning slutförd</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">

</head>
<body class="content">
    <header class="main-header">
        <div class="header-container">
            <a href="/" class="logo-link">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Stadskampen Logo" class="logo">
            </a>
            <nav class="main-nav">
                <ul class="nav-list">
                    <li><a href="/">Startsida</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/disclaimer">Hur funkar det?</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <section class="block">
        <h1>Betalning slutförd!</h1>
        <p>Tack för  ditt bidrag, <span>{{ username }}</span>!</p>
        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}
        <p>Din nuvarande placering i topplistan: Uppdateras (Kan ta någon minut)</p>
        <p>Belopp: {{ amount }} SEK</p>
        <p>Stad: {{ city }}</p>
    </section>

</body>
<footer class="block" style="text-align: center;">
    <p style="font-size: 12px; color: #888;"><i>Observera! – du köper endast poäng till topplistan. Inget mer, inget mindre. Inga återbetalningar, bara ära!</i></p>
    <br>
    <a href="/">Startsida</a>
    <a href="/faq">FAQ</a>
    <a href="/privacy_policy">Integritetspolicy</a>
</footer>
</html>

